@keyframes myAnim {
  from {
    opacity: 0;
    transform: translateY(16px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

a {
  color: inherit;
  text-decoration: inherit;
}

.pop-anim {
  animation-name: myAnim;
  animation-duration: 300ms;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex: 1;
}

footer {
  height: 48px !important;
}
