<!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django First Project</title>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <link rel="stylesheet" href="{% static 'styles/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/main.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-dark">
    <nav class="navbar navbar-light bg-secondary navbar-expand-lg">
      <div class="navbar-brand">
        <img
          height="48"
          class="pop-anim"
          src="{% static 'assets/images/logo.png' %}"
        />
      </div>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#menu"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="menu">
        <ul class="nav navbar-nav">
          <li class="nav-item pop-anim">
            <a class="nav-link text-light font-weight-bold" href="/"
              >Projects</a
            >
          </li>
          <li class="nav-item pop-anim">
            <a class="nav-link text-light font-weight-bold" href="/create"
              >New Project</a
            >
          </li>
        </ul>
      </div>
    </nav>
    <div class="container px-0">
      <!-- <img
        class="img-fluid px-0"
        src="{% static 'assets/images/cover2.png' %}"
      /> -->
    </div>
    <main class="container bg-light">
      <section class="mt-5 p-4">
        {% block content %} {% endblock content %}
      </section>
    </main>

    <footer class="bg-secondary">
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <h3>Footer.</h3>
    </footer>
  </body>
</html>
