{% extends 'main.html' %} {% block content %}
<form action="" method="POST">
  {% csrf_token %}
  <h1>Are you sure you want to delete this project?</h1>

  <div class="container d-flex flex-column align-items-center">
    <div class="card m-5" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">{{project.title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">
          Created at: {{project.created}}
        </h6>
        <p class="card-text">{{project.description}}</p>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-warning mr-3">
        Yes, delete it.
      </button>

      <a href="/"
        ><button type="button" class="btn btn-danger">Oh god... No.</button></a
      >
    </div>
  </div>
</form>
{% endblock content %}
