{% extends 'main.html' %} {% load static %} {% block content %}

<h2>Projects</h2>

<div
  class="
    my-5
    d-flex
    flex-wrap flex-column
    align-items-center
    flex-lg-row
    align-items-lg-start
  "
>
  {% for project in projects%}

  <div class="p-1 col-lg-4 pop-anim delay-anim">
    <a href="/project/{{project.id}}">
      <div style="width: 20rem" class="card m-1 p-3">
        <img
          class="card-img-top"
          src="{% static 'assets/images/default_project.svg' %}"
          alt="Card image cap"
        />
        <div class="card-body">
          <h3 class="card-title">{{project.title|truncatechars:10}}</h3>
          <h4
            class="card-subtitle h6 mb-4 text-muted d-flex align-items-center"
          >
            {{project.get_status_display}}
          </h4>
          <p class="card-text mb-4">{{project.description|truncatechars:20}}</p>
          <div class="d-flex justify-content-end">
            <a href="/project/edit/{{project.id}}">
              <button class="btn btn-secondary mr-3 font-weight-bold">
                Edit ✏️
              </button>
            </a>
            <a href="/project/delete/{{project.id}}">
              <button class="btn btn-danger font-weight-bold">Delete 🗑️</button>
            </a>
          </div>
        </div>
      </div>
    </a>
  </div>

  {% endfor %}
</div>
{% endblock content %}
