{% extends 'main.html' %} {% load static %} {% block content %}

<h2>Projects</h2>

<div
  class="
    d-flex
    flex-wrap flex-column
    align-items-center
    flex-lg-row
    align-items-lg-start
  "
>
  {% if projects|length < 1 %}

  <div
    class="w-100 d-flex flex-column justify-content-center align-items-center"
  >
    <h2>Wow... Such empty. 😟</h2>
    <p class="text-muted">
      Create some projects and they will be displayed here!
    </p>
    <img
      width="250px"
      class="img-fluid"
      src="{% static 'assets/images/empty.svg' %}"
    />
    <a href="/create">
      <button class="btn btn-lg btn-success mt-5 font-weight-bold">
        Create your first project!
      </button>
    </a>
  </div>

  {% else %} {% for project in projects%}

  <div class="p-1 col-lg-4 pop-anim delay-anim">
    <a href="/project/{{project.id}}">
      <div class="card m-1 p-3">
        <!-- style="width: 20rem" -->
        <img
          class="card-img-top"
          src="{% static 'assets/images/default_project.svg' %}"
        />
        <div class="card-body">
          <h3 class="card-title">{{project.title|truncatechars:10}}</h3>
          <h4
            class="card-subtitle h6 mb-4 text-muted d-flex align-items-center"
          >
            {{project.get_status_display}}
          </h4>
          <p class="card-text mb-4">{{project.description|truncatechars:20}}</p>
          <div class="d-flex justify-content-end">
            <a href="/project/edit/{{project.id}}">
              <button class="btn btn-secondary mr-3 font-weight-bold">
                Edit ✏️
              </button>
            </a>
            <a href="/project/delete/{{project.id}}">
              <button class="btn btn-danger font-weight-bold">Delete 🗑️</button>
            </a>
          </div>
        </div>
      </div>
    </a>
  </div>

  {% endfor %} {% endif %}
</div>
{% endblock content %}
