{% extends 'main.html' %} {% load static %} {% block content %}
<div
  class="
    border
    rounded
    p-3
    d-flex
    flex-wrap
    justify-content-between
    align-items-center
    pop-anim
    delay-anim
  "
>
  <div class="d-flex flex-column">
    <h1>{{project.title}}</h1>
    <p class="h6 text-muted">{{project.get_status_display}}</p>
    <p>{{project.description}}</p>
  </div>
  <div class="d-flex">
    <a href="/project/edit/{{project.id}}">
      <button class="btn btn-secondary mr-3 font-weight-bold">Edit ✏️</button>
    </a>
    <a href="/project/delete/{{project.id}}">
      <button class="btn btn-danger font-weight-bold">Delete 🗑️</button>
    </a>
  </div>
</div>

<div class="d-flex align-items-center justify-content-center">
  <img
    height="250px"
    class="m-4"
    src="{% static 'assets/images/default_project.svg' %}"
  />
</div>
<br />
<a class="h3 mb-2" href="/">&#60;&#60; Back to projects</a>
{% endblock content %}
